<div class="actionbar short">
    <h1>Login to manaTEAMS</h1>
</div>
<form novalidate class="credentialform">
    <div class="group">
        <input ng-model="user.username" type="text" id="username">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Username</label>
    </div>
    <div class="group">
        <input ng-model="user.password" type="password" id="password">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Password</label>
    </div>
    <div class="group">
        <input ng-model="user.studentid" type="text" id="studentid">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Student ID</label>
    </div>
    <button class="loginButton" ng-click="updateCredentials(user);">Login</button>
</form>
<h4 ng-show="errorDisplay">Invalid username, password, or student ID. Double check your credentials, and log in again.</h4>

<div class="spinner" id="spin" ng-show="loading">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
</div>

<a href="#/viewGrades" id="login" style="display: none;">Don't click this</a>