<table ng-table>
    <tr>
        <td class="title">Teacher</td>
        <td class="title">Title</td>
        <td class="title">Cycle 1</td>
        <td class="title">Cycle 2</td>
        <td class="title">Cycle 3</td>
        <td class="title">Cycle 4</td>
        <td class="title">Cycle 5</td>
        <td class="title">Cycle 6</td>
    </tr>
    <tr ng-repeat="course in grades" ng-init="course_index = $index" >
        <td data-title="'Teacher'">{{course.teacher}}</td>
        <td data-title="'Class'">{{course.title}}</td>
		<td ng-repeat="cycle in course.allCycles">
			<!-- <a ng-click="getCycle(cycle.courseId, cycle.semesterId, cycle.cycleId)">{{cycle.average || "NG"}}</a> -->
			<a href="#/viewCycle/cycle.courseId/cycle.semesterId/cycle.cycleId">{{cycle.average || "NG"}}</a>

		</td>
    </tr>
</table>
<div>Time: {{grades[0].time}}</div>
<div>Updated {{updated}}</div>
<button ng-click="logout()">logout</button>
