<table ng-table>
    <tr>
        <td class="title">Teacher</td>
        <td class="title">Title</td>
        <td class="title">Cycle 1</td>
        <td class="title">Cycle 2</td>
        <td class="title">Cycle 3</td>
        <td class="title">Cycle 4</td>
        <td class="title">Cycle 5</td>
        <td class="title">Cycle 6</td>
    </tr>
    <tr ng-repeat="course in grades" ng-init="course_index = $index" >
        <td data-title="'Teacher'">{{course.teacher}}</td>
        <td data-title="'Class'">{{course.title}}</td>
		<td ng-repeat="cycle in course.allCycles" ng-init="cycle_index = $index">
			<a ng-click="getCycle(course_index, cycle_index)">{{cycle.average}}</a>
		</td>
    </tr>
</table>
<button ng-click="getGrades()">get Course Grades</button>
<button ng-click="logout()">logout</button>
