<div class="actionbar cyclebar">
    <h1 data-title="'Title'">{{classGrade.title}}</h1>
    <h1 ng-show="classGrade" data-title="'Cycle'">Cycle {{cyclenum}}</h1>
    <button class="actionbarButton" ng-click="viewCourses()">Go back</button>
</div>

<div class="spinner cycleSpinner" id="spin" ng-show="cycleLoading">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
</div>

<div class="category" ng-repeat="category in classGrade.categories">
    <div class="categoryInner">
        <div class="categoryHeader">
            <p class="categoryTitle" data-title="'Title'">{{category.title}}</p>
            <p class="categoryWeight" data-title="'Weight'">{{category.weight}}%</p>
        </div>
        <table ng-table>
            <tr>
                <td class="title">Assignment</td>
                <td class="title">Pts Earned</td>
                <td class="title">Pts Possible</td>
            </tr>
            <tr ng-repeat="assignment in category.assignments">
                <td class="assignmenttitle" data-title="'title'">{{assignment.title}}</td>
                <td class="assignmentnumber" data-title="'points earned'">{{assignment.ptsEarned}}</td>
                <td class="assignmentnumber" data-title="'points possible'">{{assignment.ptsPossible}}</td>
            </tr>
        </table>
        <p class="categoryAverage" data-title="'Average'">Average: {{category.average}}</p>
    </div>
</div>
