<div class="actionbar">
    <h1>manaTEAMS</h1>
    <h3>Updated: {{grades[0].time | date:'M/d'}} at {{grades[0].time | date:'h:mm a'}}</h3>
    <a href="#/settings" id="settingslink"><h3>GPA: {{grades[0].gpa}}</h3></a>
    <button class="actionbarButton" ng-click="logout()">Logout</button>
</div>

<table ng-table>
    <tr>
        <td class="title">Course</td>
        <td class="title">Cycle 1</td>
        <td class="title">Cycle 2</td>
        <td class="title">Cycle 3</td>
        <td class="title">Exam 1</td>
        <td class="title">Sem 1</td>
        <td class="title">Cycle 4</td>
        <td class="title">Cycle 5</td>
        <td class="title">Cycle 6</td>
        <td class="title">Exam 2</td>
        <td class="title">Sem 2</td>
    </tr>
    <tr ng-repeat="course in grades" ng-init="course_index = $index" >
        <td class="classtitle" data-title="'Class'">{{course.title}}</td>

        <td ng-repeat="cycle in course.semesters[0].cycles">
            <a class="grade" href="#/viewCycle/{{cycle.courseId}}/{{cycle.semesterId}}/{{cycle.cycleId}}">{{cycle.average || "NG"}}</a>
        </td>

        <td class="grade">{{course.semesters[0].examGrade}}</td>
        <td class="grade">{{course.semesters[0].average}}</td>


		<td  ng-repeat="cycle in course.semesters[1].cycles">
			<!-- <a ng-click="getCycle(cycle.courseId, cycle.semesterId, cycle.cycleId)">{{cycle.average || "NG"}}</a> -->
			<a class="grade" href="#/viewCycle/{{cycle.courseId}}/{{cycle.semesterId}}/{{cycle.cycleId}}">{{cycle.average || "NG"}}</a>
		</td>

        <td class="grade">{{course.semesters[1].examGrade}}</td>
        <td class="grade">{{course.semesters[1].average}}</td>
    </tr>
</table>
